# Puerto donde corre el servidor
PORT=3000

# Clave secreta para JWT
JWT_SECRET=clave_secreta_123

# Configuración de la base de datos
DB_HOST=127.0.0.1
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

# Configuración de QR
QR_BASE_URL=https://--------/qr 
QR_PUBLIC_PATH=./public/qrcodes

# Configuración de Twilio
TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP=whatsapp:+---------

# URL base de la aplicación
BASE_URL=https://-------.com #Direccion de tu frontend
